



.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.formInput {
    border: 1px solid grey;
    padding: 20px 30px;
}
.btn {
    background-color: rgb(7, 159, 104);
    color: rgb(235, 237, 238);
    padding: 10px 30px;
    width: fit-content;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
}